*{
    box-sizing: border-box;
}

body{
    height: 100dvh;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:"lato",sans-serif;
}

a:active,a:visited,a:link{
    text-decoration: none;
}

.content{
    display:flex;
    height: 100%;
}

/*-----------------------------------------------------Left Side---------------------------------------------------------*/
.left-side{
    flex-grow: 1;
    height: 100%;
    background-image: url("../Asset/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*-----Name and Logo-----*/
.tag{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: min(1vw, 6px);
    background-color: rgb(0, 0, 0);
    opacity: 0.75;
    margin-top: 25%;
}

.tag>img{
    height: clamp(50px,80%,95px);
    width: clamp(35px,6vw,78px);
}

.tag>p{
    font-size: clamp(1rem,3vw,3.5rem);
    color: white;
}

/*-----Credit-----*/
.credit{
    color: white;
    font-size: clamp(8px,2vw,12px);
    display:flex;
    justify-content:center;
    align-items:center;
}

.credit>p>a{
    color: white;
}

/*-----------------------------------------------------Right Side---------------------------------------------------------*/
.right-side{
    flex-grow: 3;
    height: 100%;
    background-color: rgb(238, 234, 225);
    padding: 5% 0%;
}

/*-----Heading-----*/
.right-side>p{
    font-weight: bold;
    font-size: clamp(2rem,5vw,3.2rem);
    padding: 0px 6%;
}

/*-----Form-----*/
.form{
    padding: 10% 0px;
    background-color:white;
    padding: 5%;
}

.fieldsContainer{
    display: flex;
    justify-content: space-between;
}


/*-----Button-----*/

/*-----Login-----*/